*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
header{
    display: flex;
    justify-content: space-between;
    margin-inline: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btnContainer{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    background-color: green;
    height: 100%;
   
  
}
.cell{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    position: relative;
   
   
    
}
.easy{
   max-width: 1100px;
    
}
.hard{
   max-width: 1000px; 
    
}
.crazy{
    max-width: 770px;
}

.clicked{
    background-color: blue;
    color: white;
    animation: bounce-in 1.5s ease;
}
@keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
}

.color2{
    background-color: aquamarine;
    color: black;
    animation-duration: 1s;
    animation: gelatine 0.5s;
}
@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

.color3{
    background-color: orange;  
    animation: spin 0.5s linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    margin-right: 20px;
}
footer{
    height: 70px;
    padding: 20px;
}